.main-block{
	margin: 20% 20%;
	text-align: center;
}

.main-block ul li {
	list-style-type: none;
	display: inline-block;
}

li:first-child:after{
	margin-left: 10px;
	margin-right: 5px;
	opacity: 0.7;
	content: "|";
}

.quote-block {
	padding: 10% 10%;
	border-radius: 4%;
	color: #ffffff;
	font-family: 'Comfortaa';
}

/* BEGIN Background gradients for randomizer */
.quote-bg.friday{
	background: linear-gradient(135deg, #b6fbff, #83a4d4);
}

.quote-bg.soundcloud{
	background: linear-gradient(135deg, #fe8c00, #f83600);
}

.quote-bg.fb{
	background: linear-gradient(135deg, #00c6ff, #0072ff);
}

.quote-bg.emo{
	background: linear-gradient(135deg, #556270, #ff6b6b);
}

.quote-bg.amethyst{
	background: linear-gradient(135deg, #9d50bb, #6e48aa);
}

.quote-bg.superman{
	background: linear-gradient(135deg, #780206, #061161);
}

.quote-bg.red-mist{
	background: linear-gradient(135deg, #000000, #e74c3c);
}

.quote-bg.starfall{
	background: linear-gradient(135deg, #f0c27b, #4b1248);
}

.quote-bg.parklife{
	background: linear-gradient(135deg, #add100,  #7b920a);
}

.quote-bg.cherryblossom{
	background: linear-gradient(135deg, #fbd3e9,  #bb377d);
}

.quote-bg.ash{
	background: linear-gradient(135deg, #606c88,  #3f4c6b);
}

/* END Background gradients for randomizer */

.quote-id{
	font-size: 18px;
	margin-bottom: 10%;
}

.quote-text{
	font-size: 30px;
	line-height: 55px;
	margin-bottom: 10%;
}

.quote-data {
	opacity: 0.7;
	font-size: 18px;
}

.btn-block{
	margin-top: 30px;
}

.quote-btn{
	padding: 10px;
	border-radius: 20%;
	color: #aaa;
	font-size: 32px;
}
.quote-btn:hover{
	color: #333;
	text-decoration: none;
}

/* Small devices (phones, up to 768px) */
@media (max-width: 768px) {
	.quote-id{
		font-size: 14px;
	}

	.quote-text{
		font-size: 18px;
		line-height: 28px;
	}

	.quote-data{
		font-size: 14px;
	}

	.quote-btn{
		font-size: 20px;
	}
	.main-block{
		margin: 8% 8%;
	}
}
/* Medium devices (tablets and desktops from 768px to 992px) */
@media screen and (min-width: 768px) and (max-width: 992px) {
	.quote-id{
		font-size: 16px;
	}

	.quote-text{
		font-size: 24px;
		line-height: 40px;
	}

	.quote-data{
		font-size: 16px;
	}

	.quote-btn{
		font-size: 28px;
	}
	.main-block{
		margin: 15% 15%;
	}
}